<h1 align="center">新規登録</h1>

<div class="sinup" align="center">
  <form>
    <label for="email">メールアドレス</label><br>
    <input type="email" id="email" name="email">
  </form>
  <form>
    <label for="password">パスワード</label><br>
    <input type="password" id="password" name="password">
    
  </form>
</div>

<div align="center">
  <button>新規登録</button>
</div>

<div class="divider" align="center">
  <span>または</span>
</div>

<div class="planB" align="center">
  <button type="button" class="google-login">
    Googleでログイン
  </button>
</div>

<div class="planB" align="center">
  <button type="button" class="Facebook-login">
    Facebookでログイン
  </button>
</div>
