{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>signin</title>
  <link rel="stylesheet" href="{% static 'accounts/signin.css' %}">

</head>
<body>
  <h1 class="page-title">ログイン</h1>

  <p class="link-text">Don’t have an account? Sign Up</p>

  <form method="post" class="signin-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="email">メールアドレス</label>
      <input type="email" id="email" name="email">
    
      <label for="password">パスワード</label>
      <input type="password" id="password" name="password">
    </div>

    <button type="submit" class="primary-button">ログイン</button>
  </form>

  <p class="link-text2">Forgot Your Password?</p>

  <div class="divider">
    <span>または</span>
  </div>

  <div class="social-login">
    <button type="button" class="google-login">
      <img src="{% static 'accounts/google-logo.png' %}" alt="Google Logo" class="social-logo">
      Googleでログイン
    </button>
    <button type="button" class="facebook-login">
      <img src="{% static 'accounts/facebook-logo.png' %}" alt="Facebook Logo" class="social-logo">
      Facebookでログイン
    </button>
  </div>
  
</body>
</html>

