<div class="mobile-container">
    <div></div>
    
    <div class="question-card"></div>

    <div>
        <div class="">
            <div class="question-card" style="height: 60px; margin-bottom: 0;"></div>
            <div class="question-card" style="height: 60px; margin-bottom: 0;"></div>
            <div class="question-card" style="height: 60px; margin-bottom: 0;"></div>
            <div class="question-card" style="height: 60px; margin-bottom: 0;"></div>
        </div>
        <div class="question-card"></div>
    </div>

    {% include "includes/navbar.html" with active_tab='home' %}
</div>