<div class="mobile-container">
    <div>
        <a href="#">質問をスキップ</a>
    </div>

    <div class="question-list">
        <div class="question-card">
            <div class="label-chip selected">Label</div>
            <div class="label-chip">Label</div>
            <div class="label-chip">Label</div>
            <div class="label-chip">Label</div>
        </div>

        <div class="question-card">
            <div class="label-chip">Label</div>
            <div class="label-chip selected">Label</div>
        </div>

        <div class="question-card">
            <div class="label-chip selected">Label</div>
            <div class="label-chip">Label</div>
            <div class="label-chip">Label</div>
        </div>

        <div class="dots">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <!--テキストボックス-->
        <div class="question-card" style="height: 80px;"></div>
        <div class="question-card" style="height: 80px;"></div>
        <div class="question-card" style="height: 80px;"></div>
        <div class="question-card" style="height: 80px;"></div>
        <div class="question-card" style="height: 80px;"></div>
    </div>

    <div class="footer-nav">
        
        <div class="dots">
            <div class="dot"></div>
            <div class="dot active"></div>
            <div class="dot"></div>
        </div>
        
        <a href="{% url 'complete' %}">
            つぎへ
        </a>
    </div>
</div>